<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <title>Baú do RoNca RoNca</title>
  <meta name="description" content="Baú do RoNca RoNca é um site feito por fãs contendo os áudios antigos do programa de rádio RoNca RoNca">

  <!-- Open Graph Data -->
  <meta property="og:locale" content="pt_BR">
  <meta property="og:url" content="http://www.baudoroncaronca.com.br/">
  <meta property="og:title" content="Baú do RoNca RoNca">
  <meta property="og:description" content="Baú do RoNca RoNca é um site feito por fãs contendo os áudios antigos do programa de rádio RoNca RoNca">
  <meta property="og:image" content="http://www.baudoroncaronca.com.br<%= asset_path('logo.png') %>">
  <meta property="og:type" content="website">

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= asset_path('ms-icon-144x144.png') %>">
  <meta name="apple-mobile-web-app-title" content="Baú do RoNca RoNca">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#fff">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
