<ol class="podcasts">
  <% @podcasts.each do |podcast| %>
    <li class="podcasts__item">
      <article class="article">
        <span class="article__number">#<%= podcast.number %></span>
        <h2 class="article__title"><%= podcast.title %> - <%= podcast.host.name %></h2>
        <time datetime="<%= podcast.published_at.strftime("%Y-%m-%d") %>" class="article__time">
          <%= podcast.published_at.strftime("%d/%m/%Y") %>
        </time>
        <% unless podcast.source.blank? %>
          <a href="<%= podcast.source %>" class="article__link" target="_blank">Download</a>
        <% end %>
        <% unless podcast.setlist.blank? %>
          <a href="<%= podcast.setlist %>" class="article__link" target="_blank">Setlist</a>
        <% end %>
      </article>
    </li>
  <% end %>
</ol>

<%= will_paginate @podcasts %>
